<div class="foto mdl-grid">

	<form novalidate name="formulario" class="mdl-cell mdl-cell--5-col mdl-cell--5-col-tablet" ng-submit="submeter()" action="#">

		<p ng-show="mensagem.length" class="alert alert-info">{{ mensagem }}</p>

		<div class="mdl-textfield mdl-js-textfield">
			
			<input type="text" id="titulo" name="titulo" class="mdl-textfield__input" ng-model="foto.titulo" ng-maxlength="20" required>
			
			<label class="mdl-textfield__label" for="titulo">Titulo</label>

			<span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">Titulo obrigatório</span>
			
			<span ng-show="formulario.titulo.$error.maxlength" class="form-control alert-danger">No máximo 20 caractéres</span>

		</div>

		<div class="mdl-textfield mdl-js-textfield">
			
			<input type="text" id="url" name="url" class="mdl-textfield__input" ng-model="foto.url" ng-maxlength="20" required>
			
			<label class="mdl-textfield__label" for="url">URL</label>

			<span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">Url obrigatório</span>

		</div>

		<div class="mdl-textfield mdl-js-textfield">
			
			<textarea class="mdl-textfield__input" type="text" rows= "3" id="descricao" ng-model="foto.descricao"></textarea>

			<label class="mdl-textfield__label" for="descricao">Descrição</label>

		</div>

		<div class="mdl-selectfield">
			
			<select id="grupo" name="grupo" class="browser-default" ng-controller="GruposController" ng-model="foto.grupo" ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
			
				<option value="">Selecione Grupo</option>
			
			</select>
			
			<label class="mdl-textfield__label" for="grupo">Grupo</label>

		</div>

		<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-disabled="formulario.$invalid">
			Salvar
		</button>

		<a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" meu-focus>Voltar</a>

	</form> <!-- fim form -->


	<div class="mdl-cell mdl-cell--1-col"></div>


	<div class="foto mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet">

		<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			
			<div class="mdl-card__title">

			<minha-foto url="{{ foto.url }}" titulo="{{ foto.titulo }}"></minha-foto>

				<h1 class="mdl-card__title-text">{{ foto.titulo }}</h1>

			</div>
			
		</div>


	</div> <!-- fim foto -->

</div> <!--fim mdl-grid-->